{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-recommended-vue/scss",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "property-no-unknown": null,
    "function-no-unknown": null
  },
  "overrides": [
    {
      "files": ["*.vue", "**/*.vue", ".scss", "**/*.scss"]
    }
  ]
}
