body[color-scheme='dark'] {
  --color-text: rgb(240, 240, 240);
  --color-bg: rgb(51, 51, 51);
  --color-bg-deep: rgb(21, 21, 21);
  --color-border: rgb(71, 71, 71);
  --color-link: rgb(165, 165, 165);
}
