/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('@/assets/fonts/opensans/open-sans-v28-latin_cyrillic-regular.woff2') format('woff2');
  font-display: fallback;
}

/* open-sans-600 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:
    local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('@/assets/fonts/opensans/open-sans-v28-latin_cyrillic-600.woff2') format('woff2');
  font-display: fallback;
}

/* open-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:
    local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('@/assets/fonts/opensans/open-sans-v28-latin_cyrillic-700.woff2') format('woff2');
  font-display: fallback;
}

/* open-sans-800 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src:
    local('Open Sans ExtraBold'),
    local('OpenSans-ExtraBold'),
    url('@/assets/fonts/opensans/open-sans-v28-latin_cyrillic-800.woff2') format('woff2');
  font-display: fallback;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
