@import './reset';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app,
main {
  height: 100%;
  line-height: 1.5;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: clamp(1.8rem, 7vw, 2.2rem);
}

h2 {
  font-size: clamp(1.4rem, 5vw, 1.7rem);
}

h3 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
}

h4 {
  font-size: 1.2rem;
}

strong {
  font-weight: bold;
}

button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  outline: none;
}
