@import './reset';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --color-text: rgb(0, 0, 0);
  --color-bg: rgb(255, 255, 255);
  --color-bg-deep: rgb(255, 255, 255);
  --color-border: rgb(222, 226, 230);
  --color-link: rgb(108, 117, 125);
}

html {
  accent-color: var(--color-bg);
}

body {
  color: var(--color-text);
  background: var(--color-bg);
  transition:
    background-color 0.2s linear,
    color 0.2s linear;
}

body[color-scheme='dark'] {
  --color-text: rgb(240, 240, 240);
  --color-bg: rgb(51, 51, 51);
  --color-bg-deep: rgb(21, 21, 21);
  --color-border: rgb(71, 71, 71);
  --color-link: rgb(165, 165, 165);
}

html,
body,
#app {
  line-height: 1.5;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  text-wrap: balance;
}

h1 {
  font-size: clamp(2rem, 10vw, 3rem);
}

h2 {
  font-size: clamp(1.6rem, 8vw, 2rem);
}

h3 {
  font-size: clamp(1.4rem, 5vw, 1.6rem);
}

h4 {
  font-size: 1.2rem;
}

p {
  white-space: pre-line;
}

strong {
  font-weight: bold;
}

button {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background: none;
  border: none;
  outline: none;
  transition:
    color 0.2s linear,
    background 0.2s linear,
    border 0.2s linear;
}

input {
  transition:
    color 0.2s linear,
    background 0.2s linear,
    border 0.2s linear;
}
