@media screen and (max-width : 360px) and (min-width : 100px) {
  .container {
    min-width: 360px;
  }
}

@media screen and (max-width : 500px) and (min-width : 100px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width : 1200px) and (min-width : 500px) {
  .container {
    font-size: 0.9rem;
  }
}

@media screen and (min-width : 1200px) {
  .container { 
    min-width: 1200px;
  } 
}

@media screen and (min-width : 1300px) {
  .container { 
    min-width: 1300px; 
  } 
}

@media screen and (min-width : 1400px) {
  .container { 
    min-width: 1400px; 
  } 
}
